// Main menu styles
// ================

@import 'color';
@import 'dirg';
@import 'ui-variables';

.MainMenu {
  position: fixed;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: flex-start;
  top: 0;
  left: 0;
  padding: $menu-padding;
  width: 100%;
  background: color('first');
  z-index: 2;
}

.button {
  margin-left: units(1);
}

.searchButton {
  transition: opacity $search-transition-duration linear;
  margin-left: auto;
  opacity: .999;
}

.searchButtonHidden {
  composes: searchButton;
  opacity: .001;
}

.name {
  @include font-size(1);
  font-family: 'Overpass Mono';
  color: color('second');
}

.icon {
  composes: icon;
}
