// Search form styles
// ==================

@import 'color';
@import 'dirg';
@import 'ui-variables';

.Search {
  transition: opacity $search-transition-duration linear;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 3;
  opacity: .001;
  background: rgba(black, .85);
  pointer-events: none;

  &::before,
  &::after {
    content: '';
    transition: transform $search-transition-duration linear;
    transform: translate3d(0, 0, 0);
    position: absolute;
    width: calc(100% + #{units(1)});
    height: calc(100% + #{units(1)});
    pointer-events: none;
    border: units(1) solid color('first');
  }

  &::before {
    transform: translate3d(-#{units(1)}, -#{units(1)}, 0);
    top: 0;
    left: 0;
    border-right-width: 0;
    border-bottom-width: 0;
  }

  &::after {
    transform: translate3d(#{units(1)}, #{units(1)}, 0);
    right: 0;
    bottom: 0;
    border-top-width: 0;
    border-left-width: 0;
  }
}

.SearchVisible {
  composes: Search;
  opacity: .999;
  pointer-events: auto;

  &::before,
  &::after {
    transform: translate3d(0, 0, 0);
  }

  .textfield {
    transform: scale3d(1, 1, 1);
    opacity: .999;
  }

  .resultsWrapper {
    transition: none;
    margin-top: units(1);
    opacity: .999;
    transform: translateY(0);

    >* {
      animation: appear .5s linear both;

      @for $i from 1 to 15 {
        &:nth-child(#{$i}) {
          animation-delay: #{$i * .1}s;
        }
      }
    }
  }
}

.icon {
  composes: icon;
}

.closeButton {
  position: absolute;
  right: $menu-padding;
  top: $menu-padding;
}

.form,
.resultsWrapper {
  width: columns(5);
  text-align: left;
}

.form {
  margin-top: 15vh;
}

.resultsWrapper {
  transition: all $search-transition-duration linear;
  margin-top: units(1);
  opacity: .001;
  transform: translateY(#{units(1)});
}

.textfield {
  @include font-size(4);
  transition: transform $search-transition-duration,
              opacity $search-transition-duration;
  transform: scale3d(.8, .8, 1);
  width: 100%;
  font-family: 'Overpass Mono';
  box-shadow: 0 1px 0 color('third');
  color: color('second');
  opacity: .001;

  &:focus,
  &:active {
    box-shadow: 0 1px 0 color('third'),
                0 2px 0 color('third'),
                0 3px 0 color('third');
  }
}

.textfield:focus + .instruction,
.textfield:active + .instruction {
  transform: translateY(0);
  opacity: .999;
}

.instruction {
  transition: all $search-transition-duration cubic-bezier(0.19, 1, 0.22, 1);
  transform: translateY(50%);
  font-size: font-scale(-1);
  line-height: units(2);
  font-family: 'Overpass Mono';
  font-weight: 100;
  color: color('third');
  opacity: .001;
}

@keyframes appear {
  from {
    opacity: .001;
    transform: translateY(10%)
  }
  to {
    opacity: .999;
    transform: translateY(0)
  }
}
