// Search result styles
// ====================

@import 'dirg';
@import 'color';

.SearchResult {
  transition: background .35s linear;
  position: relative;
  cursor: pointer;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;

  &:hover {
    background: rgba(color('second'), .1);
  }
}

.text {
  font-size: font-scale(1);
  line-height: units(1.5);
  font-family: 'Overpass Mono';
  font-weight: 100;
  color: color('second');
}
